{% macro footer(distribution,version) %}
<p> Généré par Ansible sur {{ distribution }} {{ version }}</p>
{% endmacro %}

<html>
    <head>
        <title>{{ ansible_os_family }} Apache Web Server</title>
    </head>
    <body>
        <h1>{{ ansible_os_family }} Apache Web Server</h1>
        {% if lamp_pkgs is defined %}
            <h2>Packages : </h2>
            <ul>
            {% for item in lamp_pkgs %}
                {#
                "Title" filter enables caption on for first letters
                There are other filters : upper, lower, trim
                #}
                <li> {{ item|title }} </li>
            {% endfor %}
            </ul>
        {% endif %}
        {# 
        Call footer function with values of ansible_distribution and ansible_distribution_version variables 
        #}
        {{ footer(ansible_distribution,ansible_distribution_version) }}
    </body>
</html>